.form-add-location {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 0 2em;
}

.form-label {
  font-weight: 600;
}
.form-input {
  position: relative;
  height: 2rem;
  font-size: 1rem;
  margin: 0.25em 0 0.75em;
  border: 1px solid #b87333;
  border-radius: 5px;
}

.form-textarea {
  font-size: 1rem;
  margin: 0.25em 0 0.75em;
  border: 1px solid #b87333;
  border-radius: 5px;
}

.button {
  width: max-content;
  padding: 0.75em;
  margin-bottom: 3rem;
  border-radius: 5px;
  font-weight: 600;
  background-color: #b87333;
  color: white;
  cursor: default;
  transition: all 0.12s ease-in;
}

.button:hover {
  transform: scale(1.05);
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
}

.required {
  color: red;
  font-weight: bold;
  margin: -10px 0 1rem;
  font-size: 0.7rem;
}
