.custom-select {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-content {
  margin: 0 2rem;
}

#home-header {
  font-family: "Montserrat", sans-serif;
}

#home-header > h1 {
  text-align: center;
  font-weight: 900;
  color: #b87333;
}

#main-header-image {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#about {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}
