.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.loading {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5rem solid hsla(29, 57%, 46%, 0.5);
  border-top-color: hsla(29, 57%, 46%, 1);
  animation: spin 0.75s linear 0s infinite normal forwards running;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
