.location-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1.5em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2000;
}

.nav-icon {
  transform: scale(1);
  transition: all 0.25s ease-in;
}
.nav-icon:hover {
  transform: scale(1.3);
  transition: all 0.25s ease-in-out;
}

svg {
  height: 1.5em;
  width: 1.5em;
}
